body{
  background-image: url('BeFunky-collage.png');
  background-size:     cover;                    
  background-repeat:   no-repeat;
  background-position: center center; 
}
.card-img-top {
  backgroud-image: url('weather.png');
}
