body{
  background-image: url('BeFunky-collage.png');
  background-size: 85%; 
  background-position: right top; 
}
.container{
  background-color: white;
  box-sizing: border-box;
  padding: 25px ;
  width: 410px;
  margin-top: 50px
}
